.rotate-up-glyphicon {
        -moz-transform: rotate(270deg);
        -o-transform: rotate(270deg);
        -webkit-transform: rotate(270deg);
        transform: rotate(270deg);
        filter: FlipH;
        -ms-filter: "FlipH";
}

.rotate-down-glyphicon {
        -moz-transform: rotate(90deg);
        -o-transform: rotate(90deg);
        -webkit-transform: rotate(90deg);
        transform: rotate(90deg);
        filter: FlipH;
        -ms-filter: "FlipH";
}